In [1]:
valor1 = input('Digite um número inteiro: ')
valor2 = input('Digite outro número inteiro: ')

In [2]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
False
True
False
True

In [3]:
L = []

In [4]:
L = list() #construtor de listas

In [5]:
dias = [3,1,10]

In [6]:
dias[0]

3

In [7]:
dias[1]

1

In [8]:
dias[2]

10

In [9]:
Z = [3,8,9]

In [10]:
Z[0] = 7

In [11]:
Z

[7, 8, 9]

In [12]:
a = [81,82,83]

In [13]:
b = a[:]

In [14]:
print(a == b)

True

In [15]:
print(a is b)

False

In [16]:
b[0] = 5

In [17]:
print(a)

[81, 82, 83]

In [18]:
print(b)

[5, 82, 83]

In [19]:
uma_lista = ['a','b','c','d','e','f']

In [20]:
print(uma_lista[1:3])

['b', 'c']

In [21]:
print(uma_lista[:4])

['a', 'b', 'c', 'd']

In [22]:
print(uma_lista[3:])

['d', 'e', 'f']

In [23]:
print(uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [24]:
minhaLista = [76,92.3,"oi", True,4,76]

In [27]:
minhaLista = [76,92.3, "oi", True,4,76, "pitomba", 76]

In [28]:
minhaLista = [76,92.3,"oi", "cibele", True,4,76, "pitomba", 76]

In [29]:
minhaLista = [99, 76,92.3,"oi", "cibele", True,4,76, "pitomba", 76]

In [31]:
print(minhaLista[3])

oi

In [32]:
minhaLista = [99,76,92.3,"oi","cibele",4,76,"pitomba",76]

In [33]:
uma_lista = [4,2,8,6,5]

In [34]:
uma_lista = uma_lista + ["Cibele"]

In [35]:
print(uma_lista)

[4, 2, 8, 6, 5, 'Cibele']

In [36]:
tupla_numeros = (10,20,30)

In [37]:
tupla_numeros

(10, 20, 30)

In [38]:
tupla_nova = 10,20,30

In [39]:
tupla_nova

(10, 20, 30)

In [40]:
tupla_elemento = 10,

In [41]:
tupla_elemento

(10,)

In [42]:
tupla_vazia = ()

In [43]:
tupla_vazia

()

In [44]:
dicio = {'chave':'valor'}

In [45]:
print(type(dicio))

<class 'dict'>

In [46]:
d = {'laranjas': 15, 'bananas': 35, 'siriguelas': 12}

In [47]:
d['bananas']

35

In [48]:
d['pitomba'] = 20

In [49]:
len(d)

4

In [50]:
'pitomba' in d

True

In [51]:
'pears' in d

False

In [52]:
del d['laranjas']

In [53]:
'laranjas' in d

False

In [54]:
frutas = ["pinha","oiti coró","jaca","tamarindo"]

In [55]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [56]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [57]:
print([0 * 4])

[0]

In [58]:
print([1,2,["oi","tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]